<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/top.css"
	th:href="@{/css/top.css}">
<title>Insert title here</title>
</head>
<body>

	<div class="container">
		<header class="page-header wrapper">
			<h1>WEB SHOP</h1>
			<nav class="primary-nav" role="navigation">
				<ul class="main-nav">
					<li><a href="#">LOGIN/REGISTER</a></li>
					<li><a href="#">CART</a></li>
					<li><a href="#">HELP</a></li>
					<li><a href="#">CONTACT</a></li>
				</ul>
			</nav>
		</header>


		<div class="detail-container wrapper">
			<div class="item-detail">
				<img alt="" src="../static/arts/art01.jpg" width="500px;" height="400px;">
			</div>
			<div class="item-detail">
				<h3 class="item-name">器</h3><br>
				<div class="item-description">陶器の器です。丹精込めて作りました。</div><br>	
				<div class="item-price"><small>消費税込</small>　3000円</div><br>
				<div class="item-quantity"><small>数量</small>&nbsp;&nbsp;
					<select>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
					</select>
				</div>
				<br>
				<button type="submit" class="cart-btn"><span class="btn-text"><img alt="" src="../static/cart-white.png" class="cart-icon">&nbsp;&nbsp;カートに入れる</span></button>
			</div>
			
		</div>




	</div>




	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>