
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" href="../static/css/top.css"
	th:href="@{/css/top.css}">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<header class="page-header wrapper">
			<h1>WEB SHOP</h1>
			<nav class="primary-nav" role="navigation">
				<ul class="main-nav">
					<li><a href="#">LOGIN/REGISTER</a></li>
					<li><a href="#">CART</a></li>
					<li><a href="#">HELP</a></li>
					<li><a href="#">CONTACT</a></li>
				</ul>

			</nav>
		</header>




		<header class="slideshow wrapper">
			<img alt="" src="../static/arts/art01.jpg"
				th:src="@{/arts/art01.jpg}"> <img alt=""
				src="../static/arts/art02.jpg" th:src="@{/arts/art02.jpg}"> <img
				alt="" src="../static/arts/art03.jpg" th:src="@{/arts/art03.jpg}">
			<img alt="" src="../static/arts/art04.jpg"
				th:src="@{/arts/art04.jpg}">

		</header>
	</div>



	<br>
	<div class="main wrapper">
		<h1>商品一覧</h1><br>
		<div class="item-container">
			<div th:each="item:${itemList}" class="item">
				<img alt="" th:src="@{'/arts/'+${item.imagePath}}" class="rounded"
					width="200" height="168"> <img alt=""
					th:src="@{'/book/'+${item.imagePath}}" class="rounded " width="200"
					height="168"> <img alt=""
					th:src="@{'/clothing/'+${item.imagePath}}" class="rounded "
					width="200" height="168"> <img alt=""
					th:src="@{'/daily/'+${item.imagePath}}" class="rounded" width="200"
					height="168"> <img alt=""
					th:src="@{'/electronics/'+${item.imagePath}}" class="rounded "
					width="200" height="168"> <img alt=""
					th:src="@{'/food/'+${item.imagePath}}" class="rounded " width="200"
					height="168"> <img alt=""
					th:src="@{'/furniture/'+${item.imagePath}}" class="rounded "
					width="200" height="168"> <img alt=""
					th:src="@{'/office/'+${item.imagePath}}" class="rounded "
					width="200" height="168"> <img alt=""
					th:src="@{'/toy/'+${item.imagePath}}" class="rounded " width="200"
					height="168">
				<div th:text="${item.itemName}"></div>
			</div>


		</div>

	</div>


	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/js/slideshow.js"
		th:src="@{/js/slideshow.js}"></script>
	<script type="text/javascript" src="../static/js/sticky-header.js"></script>

</body>
</html>
