<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ec202006.css}"
	href="../static/css/ec202006.css">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<header class="page-header">
			ログイン画面
			<nav>
				<ul class="main-nav">
					<li><a href="./">About</a></li>
					<li><a href="./">ITEMS</a></li>
					<li><a href="./">REGISTER</a></li>
					<li><a href="./">LOGIN</a></li>
					<li><a href="./">Contact</a></li>
				</ul>
			</nav>
		</header>
		<br> <br>

		<!-- 以下main要素 -->
		<div id="login-form">
			<h2 class="page-heading">
				<span>ログイン</span>
			</h2>

			<br>
			<form method="post" th:action="@{/login}" class="form-horizontal"
				th:object="${loginForm}">
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="email"> <span>メールアドレス</span>
					</label>
					<div class="form-group col-md-7">

						<small class="control-label" th:errors="*{email}"
							style="color: red;"> </small> <input type="text"
							id="entry_email_first" name="email" class="form-control"
							id="email" th:field="*{email}" />
					</div>
				</div>

				<!-- パスワード -->
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="password"> <span>パスワード</span>
					</label>
					<div class="form-group col-md-7">

						<small class="control-label" th:errors="*{password}"
							style="color: red;"> </small><input type="password" id="password"
							name="password" class="form-control" th:field="*{password}" />
					</div>
				</div>

				<div class="regis-btn">
					<button type="submit" class="btn btn-light rounded-pill"
						id="register">ログイン</button>
				</div>
				<br> <br>
			</form>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>



</body>
</html>