<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/ec202006.css}">
<title>Insert title here</title>

</head>
<body>
	<div class="container">
		<header class="page-header"> 登録画面 </header>
		<br> <br>

		<!-- 以下main要素 -->
		<div id="register-form">
			<h2 class="page-heading">
				<span>新規会員登録</span>
			</h2>
			<br>
			<form method="post" th:action="@{/register}" class="form-horizontal"
				th:object="${registerForm}">

				<!-- 名前 -->
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="userName"> <span
						class="required">必須</span> <span>お名前</span>
					</label>
					<div class="form-group col-md-7">
						<small class="control-label" th:errors="*{userName}"
							style="color: red;"> </small> <input type="text" id="userName"
							name="userName" class="form-control" th:field="*{userName}" />
					</div>
				</div>

				<!-- 郵便番号 -->
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="zipcode"> <span
						class="required">必須</span> <span>郵便番号</span>
					</label>
					<div class="form-group col-md-9">
						<div class="form-group form-inline input_zip">
							<input type="text" id="zipcode" name="zipcode"
								class="form-control" th:field="*{zipcode}" /> &nbsp;
							<button type="button"
								class="btn page-link text-dark d-inline-block"
								id="get_address_btn">住所検索</button>
							&nbsp; <small class="control-label" th:errors="*{zipcode}"
								style="color: red;"></small>
						</div>
					</div>
				</div>

				<!-- 住所 -->
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="addr"> <span
						class="required">必須</span> <span id="addr">住所</span>
					</label>

					<div class="form-group col-md-7">

						<small class="control-label" th:errors="*{address}"
							style="color: red;"> </small> <input type="text" name="address"
							class="form-control" size="60" th:field="*{address}" /> <br>
					</div>
				</div>

				<!-- 電話番号 -->
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="zipcode"> <span
						class="required">必須</span> <span>電話番号</span>
					</label>
					<div class="form-group col-md-7">

						<small class="control-label" th:errors="*{tel}"
							style="color: red;"> </small> <input type="tel" id="tel"
							name="tel" style="ime-mode: disabled;" class="form-control"
							size="60" th:field="*{tel}" />
					</div>
				</div>

				<!-- メールアドレス -->
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="zipcode"> <span
						class="required">必須</span> <span>メールアドレス</span>
					</label>
					<div class="form-group col-md-7">

						<small class="control-label" th:errors="*{email}"
							style="color: red;"> </small> <input type="text"
							id="entry_email_first" name="email" class="form-control"
							size="60" th:field="*{email}" />
					</div>
				</div>

				<!-- パスワード -->
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="zipcode"> <span
						class="required">必須</span> <span>パスワード</span>
					</label>
					<div class="form-group col-md-7">

						<small class="control-label" th:errors="*{password}"
							style="color: red;"> </small><input type="password" id="password"
							name="password" placeholder="半角英数字記号8～32文字" class="form-control"
							size="60" th:field="*{password}" />
					</div>
				</div>

				<!-- 確認用パスワード -->
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="confirmPassword">
						<span class="required">必須</span> <span>確認用パスワード</span>
					</label>
					<div class="form-group col-md-7">

						<small class="control-label" th:errors="*{confirmPassword}"
							style="color: red;"> </small><input type="password"
							id="confirmPassword" name="confirmPassword"
							placeholder="半角英数字記号8～32文字" class="form-control" size="30"
							th:field="*{confirmPassword}" />

					</div>
				</div>
				<br>

				<div class="regis-btn">
					<button type="submit" class="btn btn-light rounded-pill"
						id="register">登録する</button>
				</div>
				<br>
				<div class="reset-btn">
					<button type="reset" class="btn btn-light rounded-pill" id="reset">入力内容を削除する</button>
				</div>
			</form>
		</div>
		<br> <br>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
	<script th:src="@{/js/get_address.js}"></script>
</body>

</html>