@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
	font-family: "游ゴシック Light", "游ゴシック体", "Yu Gothic Light", YuGothic,
		"ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
		"MS PGothic", sans-serif;
	font-weight: 500;
	line-height: 1.5;
}



*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* ---------------------------------------------------------
** html body
----------------------------------------------------------- */
html {
	webkit-text-size-adjust: 100%;
	font-size: 62.5%; /* 62.5%を指定すると「1.0 rem = 10px」 */
	overflow: auto;
}

.page-header {
	display: flex;
	justify-content: space-between;
	background-color: #DCDCDC;
}

.main-nav {
	display: flex;
	font-size: 1.25rem;
	margin-top: 34px;
	list-style: none;
}

.main-nav li {
	margin-left: 50px;
	margin-right: 20px;
}

span.required {
	background-color: #FF0000;
	color: #FFFFFF;
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 80%;
	margin-left: 10px;
}

form dl dt {
	float: left;
	clear: both;
	width: 165px;
	padding: 10px 0;
}

form dl dd {
	padding: 10px 0;
}

button.register{
	padding: 5px 95px 5px 95px;
	
}

button.reset{
	padding: 5px 70px 5px 70px;
	
}